<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: odd % 2 !== 0 }"
            [ngStyle]="{
              'background-color': odd % 2 !== 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let odd of oddNumbers"
          >
            {{ odd }}
          </li>
        </div>
        <!-- appUnless je metoda CUSTOM STRUCTURE napsana v Unless.directive.ts -->
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: even % 2 !== 0 }"
            [ngStyle]="{
              'background-color': even % 2 !== 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </div>
        <!-- jina moznost zapsani *ngIf takhle je to v angularu nastavene a if je jako property-->
        <!-- <ng-template [ngIf]="!onlyOdd">
           <li
            class="list-group-item"
            [ngClass]="{ odd: even % 2 !== 0 }"
            [ngStyle]="{
              'background-color': even % 2 !== 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </ng-template> -->
      </ul>
      <p appBasicHighLight>
        Style me with the basic directive which sets the background
      </p>
      <!-- better-highlights.ts -->
      <p appBetterHighlights>
        Style me with the better directive which sets the background
      </p>
      <!-- customproperty -->
      <p CustomPropertyBiding [defaultColor]="'yellow'" highlghtColor="violet">
        Style me with the better directive which sets the background
      </p>
      <!-- customproperty -->
      <!-- nastaveny alias as property nefunguje ale je to moznost jak to delat, kdyz nastavim alias -->
      <!-- <p [CustomPropertyBiding]="'red'" [defaultColor]="'yellow'">
        Style me with the better directive which sets the background
      </p> -->

      <!-- app.component.ts =>zde kdyz zmenim hodnotu value provede se zmena -->
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is default</p>
      </div>
    </div>
  </div>
</div>
